.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  all: unset;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.2s ease-in-out;
  :active {
    transform: scale(1.1);
  }
}
